html, 
body {
    font-size: 20px; /* reset to a better base unit for ems */
    font-family: serif; 
}

#app {
    display: grid;
    grid-template: auto / 1fr;
}

.site-header {
    grid-row: 1;
    width: 100%;

    h1{
        margin: .5rem 0;
    }
}

.searchbar {
    grid-row: 2;
}

.user-listings {
    grid-row: 3;
}